@import "tailwindcss";

:root {


@theme inline {

  --background: #F2EFDF;
  --secundary-color: #F2A950;
  --terciary-color: #F28D35;
  --analisis-color: #00A81C;
  --instalation-color: #FF8D28;
  --maintenance-color: #00C0E8;
}
}
.rbc-time-view, .rbc-time-content, .rbc-time-header {
  border: none !important;
}

.rbc-header {
  border-bottom: 1px solid #E5E7EB;
  padding: 15px 0;
  background-color: white !important;
  color: black;
}

.rbc-day-slot{
  border-right: 1px solid #f3f4f6;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #f3f4f6 !important;
  min-height: 50px !important;
  color: black;

}

.rbc-time-slot {
  border-top: 1px solid #DCE0E5 !important;

}

.rbc-time-header-gutter .rbc-label {
  display: none;
}
.rbc-event {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
}

.rbc-time-gutter .rbc-timeslot-group {
  border: none !important;
}

.rbc-label {
  font-size: 0.85rem;
  color: black;
  padding-right: 10px !important;
}

.rbc-today {
  background-color: transparent !important;
}
.rbc-day-slot.rbc-today{
  background-color: #fdf8e1 ;
}
.rbc-header.rbc-today{
  background-color: white !important;
  font-weight: bold;
}

.rbc-toolbar button {
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  color: #374151;
  padding: 5px 12px;
  font-size: 0.875rem;
  transition: all 0.2s;
  background-color: white;
}
.rbc-toolbar-label{
  text-align: center;
  flex-grow: 1;
  padding: 0 10px;
  color: black;
}
.rbc-time-header-content > .rbc-row:last-child,
.rbc-allday-cell {
  display: none !important;
}


.rbc-time-header-content > .rbc-row.rbc-time-header-cell > .rbc-header:nth-child(7) {
  display: none !important;
}
.rbc-time-content > .rbc-day-slot:nth-child(7){
  display: none !important;
}

.rbc-time-header.rbc-overflowing {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.rbc-time-header-content > .rbc-row.rbc-time-header-cell > .rbc-header,
.rbc-day-slot {
  flex: 1 0 0% !important;
  min-width: 0 !important;
}
.rbc-day-slot .rbc-event-label{
  display: none;
}

.rbc-month-view .rbc-header,
.rbc-month-view .rbc-day-bg {
  display: flex !important;
  flex: 1 0 0% !important;
  max-width: none !important;
}

.rbc-month-view {
  background-color: #F2EFDF !important;
  border: none !important;
}

.rbc-month-row {
  border-top: 1px solid rgba(0,0,0,0.05) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
